[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=MIDlet Settings
Exec=/opt/phoneme/bin/settings
Icon=duke
X-HildonDesk-ShowInToolbar=true
X-Window-Icon=duke
X-Window-Icon-Dimmed=duke
X-Osso-Type=application/x-executable
